<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taylorcfrey.msse657enterpriseandroid"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.taylorcfrey.msse657enterpriseandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.taylorcfrey.msse657enterpriseandroid.permission.C2D_MESSAGE" />
    
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="scis.ScisProgramActivity"
            android:label="@string/scis_activity"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <activity
            android:name="feedback.FeedbackActivity"
            android:label="@string/feedback_activity"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <activity
            android:name="messaging.MessagingActivity"
            android:label="@string/messaging_activity"
            android:screenOrientation="portrait" >
            
        </activity>
                
        <activity
            android:name="linkedin.LinkedInActivity"
            android:label="@string/linkedin_activity"
            android:screenOrientation="portrait" >
            
        </activity>
                
        <activity
            android:name="social_media.SocialMediaActivity"
            android:label="@string/social_media_activity"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <service
            android:name="web_services.RestfulIntentService"
            android:exported="false">
            
        </service>
                
        <receiver
            android:name="messaging.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.taylorcfrey.msse657enterpriseandroid" />
            </intent-filter>
        </receiver>
        <service android:name="messaging.GcmIntentService" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>
